<template>
    <application>
        <template v-slot:content>
            <v-container class="pa-4" fluid>
                <v-card :loading="loading">
                    <v-card-title>
                        Add Domains
                    </v-card-title>
                    <v-card-text>
                        <v-textarea
                            v-model="domains"
                            filled
                            label="Domains"
                            :placeholder="'example.com\nxn--sxqv5g23dyr3a428a.com\n测试假域名.com'"
                            hint="Enter one domain name per line."
                            persistent-hint
                        />
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="primary" width="100%" @click="handleSave">
                            Save
                        </v-btn>
                    </v-card-actions>
                </v-card>

                <template>
                    <div class="text-center">
                        <v-snackbar
                            v-model="messageBox"
                            :timeout="timeout"
                            :color="msgColor"
                            outlined
                        >
                            <center>{{ message }}</center>
                        </v-snackbar>
                    </div>
                </template>

            </v-container>
        </template>
    </application>
</template>

<script>
  import axios from "axios";

  export default {
    data () {
        return {
            loading: false,
            domains: '',
            messageBox: false,
            message: "test message",
            timeout: 3000,
            msgColor: "success",
        }
    },

      watch: {
          messageBox: function() {
              console.log(this.messageBox)
              if(!this.messageBox) {
                  this.$router.push('/domains');
              }
          }
      },

      methods: {
        async handleSave() {
            console.log('handle save!');
            console.log(this.domains)
            try {
                this.loading = true;
                const request = await axios.post('/api/domains', {
                    domains: this.domains,
                });
                this.message = request.data.status.message;
                if(request.data.status.code){
                    this.msgColor = 'error';
                }
                else {
                    this.msgColor = 'success';
                }
                this.loading = false;
                this.messageBox = true;
            }
            catch (e) {
                console.log(e);
            }
            finally {
            }
        }
    }
  }
</script>
