<template>
    <application>
        <template v-slot:content>
            <v-container class="pa-4" fluid>
                <v-card>
                    <v-card-title>
                        Domains
                        <div class="flex-grow-1" />
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Search"
                            single-line
                            hide-details
                            @input="handleSearch"
                        />
                    </v-card-title>
                    <v-data-table
                        :headers="headers"
                        :items="filteredDomains"
                        :loading="loading"
                        :hide-default-footer="false"
                    >
                        <template v-slot:body="{ items }">
                            <tbody>
                                <tr v-for="(item, index) in items" :key="item.id">
                                    <td>
                                        {{ item.domain_name }}
                                    </td>
                                    <td>{{ new Date(item.updated_at).toLocaleString() }}</td>
                                    <td>{{ item.is_idn ? 'Yes' : 'No' }}</td>
                                    <td>{{ item.is_imprinted ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <v-btn icon @click="handleInternational(index)">
                                            <v-icon>mdi-web</v-icon>
                                        </v-btn>
                                        <v-btn icon @click="handleImprint(index)">
                                            <v-icon>mdi-fingerprint</v-icon>
                                        </v-btn>
                                        <v-btn icon @click="handleDelete(index)">
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-data-table>
                </v-card>

                <template>
                    <div class="text-center">
                        <v-snackbar
                            v-model="messageBox"
                            :timeout="timeout"
                            :color="msgColor"
                            outlined
                        >
                            <center>{{ message }}</center>
                        </v-snackbar>
                    </div>
                </template>

                <template>
                    <v-row justify="center">
                        <v-dialog
                            v-model="dialog"
                            persistent
                            max-width="290"
                        >
                            <v-card>
                                <v-card-title class="headline">
                                    Delete Domain
                                </v-card-title>
                                <v-card-text>Do you want to delete this domain?</v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        color="green darken-1"
                                        text
                                        @click="dialog = false"
                                    >
                                        No
                                    </v-btn>
                                    <v-btn
                                        color="green darken-1"
                                        text
                                        @click="deleteDomain()"
                                    >
                                        Yes
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-row>
                </template>

                <v-btn
                    fab
                    color="primary"
                    bottom
                    right
                    absolute
                    to="/domains/add"
                    >
                    <v-icon>mdi-plus</v-icon>
                </v-btn>
            </v-container>
        </template>
    </application>
</template>

<script>
  import axios from 'axios';

  export default {
    data () {
        return {
            loading: false,
            search: '',
            headers: [
                { text: 'Domain Name', value: 'domain_name', sortable:true},
                { text: 'Updated At', value: 'updated_at', sortable:true },
                { text: 'Internationalized', value: 'is_idn', sortable:true },
                { text: 'Imprinted', value: 'is_imprinted', sortable:true },
                { text: 'Actions' }
            ],
            domains: [],
            filteredDomains: [],
            messageBox: false,
            message: "",
            timeout: 3000,
            msgColor: "success",
            dialog: false,
            index: -1,
        }
    },
    mounted() {
        this.fetchDomains();
    },
      methods: {
        async fetchDomains() {
            try {
                this.loading = true;
                const domains = await axios.get('/api/domains');
                this.domains = domains.data;
                this.filteredDomains = this.domains;
            }
            catch (e) {
                console.log(e);
            }
            finally {
                this.loading = false;
            }
        },
        handleSearch(value) {
            console.log('handle the search!', value);
            this.filteredDomains = this.domains;
            this.filteredDomains = this.filteredDomains.filter(filteredDomain => filteredDomain.domain_name.indexOf(value)>=0);
        },
        async handleUpdate(is_idn, is_imprinted, index){
            try {
                this.loading = true;
                const domains = await axios.put('/api/domains/'+this.filteredDomains[index].id, {
                    is_imprinted: is_imprinted,
                    is_idn: is_idn,
                });
                this.filteredDomains[index].is_imprinted = is_imprinted;
                this.filteredDomains[index].is_idn = is_idn;
                this.message = domains.data.status.message;
                if(domains.data.status.code){
                    this.msgColor = 'error';
                }
                else {
                    this.msgColor = 'success';
                }
                this.loading = false;
                this.messageBox = true;
            }
            catch (e) {
                console.log(e);
            }
            console.log('handle the update!');
        },
        async deleteDomain(){
            this.dialog = false;
            try {
                this.loading = true;
                const domains = await axios.delete('/api/domains/'+this.filteredDomains[this.index].id);
                this.filteredDomains.splice(this.index, 1);
                this.loading = false;
                this.message = domains.data.status.message;
                if(domains.data.status.code){
                    this.msgColor = 'error';
                }
                else {
                    this.msgColor = 'success';
                }
                this.messageBox = true;
            }
            catch (e) {
                console.log(e);
            }
            finally {
            }
        },
        async handleDelete(index) {
            this.dialog = true;
            this.index = index;
            console.log('handle the delete!');
        },
        async handleImprint(index) {
            const is_imprinted = this.filteredDomains[index].is_imprinted == 1?0:1;
            const is_idn = this.filteredDomains[index].is_idn;
            this.handleUpdate(is_idn, is_imprinted, index)
            console.log('handle the imprint!');
        },
        async handleInternational(index) {
            const is_idn = this.filteredDomains[index].is_idn == 1?0:1;
            const is_imprinted = this.filteredDomains[index].is_imprinted;
            this.handleUpdate(is_idn, is_imprinted, index)
            console.log('handle the international!');
        },

    }
  }
</script>
